body {
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    background-color: #2b2525; /* Black background */
    color: #fff; /* Optional: Default text color as white for visibility */
    font-family: Arial, sans-serif; /* Optional: Set a default font */
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #562f1c;
    margin: 8px 0;
    padding: 15px;
    background-color: #628675;
    border-radius: 10px;
    box-shadow: 0 20px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; /* Make the text bold */

}


  
.info.legend {
margin-bottom: 40px; /* push it up from the bottom */
margin-right: 20px;  /* push it left from the right edge */
background: rgb(231, 227, 227);       /* Black background */
color: #1f1e1e;             /* White text (so it’s visible on black) */
font-weight: bold;       /* Make text bold */
padding: 10px;
line-height: 1.5;
border-radius: 4px;
box-shadow: 0 0 8px rgba(0,0,0,0.2);
 
}

  

#map {
	
	width:100%;
    height: 85%;
	
	overflow:hidden;
	position:fixed;
	border:1px #444 solid;
}
